* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' -25,
        'opsz' 24
}

.ant-table-thead>tr>th {
    padding: 5px 10px !important;
}
.ant-table-tbody>tr>td {
    padding: 5px 10px !important;
}